
.about{
    padding-top: 110px;
    padding-bottom: 120px;
    margin-left: auto;
    margin-right: auto;
}
.feedback{
    color: white;
    font-size: 32px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    text-align: center;
    padding: 8px;
    background-color: white;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 #db229d;
  }
  
  .card-container {
    padding: 2px 16px;
  }

  .card-spacing{
      padding: 20px;
      align-content: center;
  }

  .background, .about {
    position: relative;
    bottom: 0px;
    top: 0px;
    background: url(https://image.freepik.com/free-photo/empty-wooden-table-with-colorful-smoke-float-up-dark-background_68495-150.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    z-index: 0;
    height: 100vh;
}
